.wrapper-login {
    height: 100vh;
    background-size: cover;
    background-image: url('../img/background.png');
    background-color: #171F3D;
}

.loginButton {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #400099;
    border-color: transparent;
    border-radius: 35px;
    max-width: calc(100vw - 20px);
    width: 700px;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 40px;
    height: 90px;
    color: white;
    cursor: pointer;

    @media screen and (max-width:$tablet-size){
        font-size: 34px;
    }

    @media screen and (max-width:$mobileXXL-size){
        font-size: 26px;
    }

    @media screen and (max-width:$mobileL-size){
        font-size: 20px;
    }

    &__image {
        width: auto;
        height: 50px;
        margin-right: 70px;

        @media screen and (max-width:$tablet-size){
            margin-right: 40px;
        }

        @media screen and (max-width:$mobileXXL-size){
            margin-right: 30px;
        }

        @media screen and (max-width:$mobileL-size){
            height: 40px;
            margin-right: 20px;
        }
    }

    &__image-anchor {
        transform: scale(1.5);
    }
}

.section-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-text {
    font-size: 50px;
    text-align: center;
}