.wrapper-social {
    margin-bottom: 50px;
}

.section-social {
    display: flex;
    justify-content: center;
}

.social {
    padding: 20px;
    width: 80%;
    height: auto;
    background-color: #f8f8f8;
    border-radius: 30px;

    &__name-block {
        margin-bottom: 40px;
        text-align: center;
        font-size: 40px;
        @include gradient;
        @include font-regular;
    }

    &__img-block {
        display: flex;
        justify-content: space-around;
    }

    &__img {
        width: 15%;
        height: auto;

        @media (min-width:280px) and (max-width:$mobileL-size){
            width: 20%;
        }
    }
}