.wrapper-spoilers {
    background-color: #591327;
}

.section-spoilers {

    &__big-text {
        margin: 30px 0;
        font-size: 55px;
        @include font-regular;
    }

    &__lil-text {
        margin: 30px 0;
        font-size: 27px;
        text-align: start;
        @include font-regular;
    }

    &__text-block {
        padding: 30px 0;
        text-align: center;
    }
}

.spoilers {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 30px;

    &__left-blocks {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
        flex-basis: 700px;
        flex-grow: 1;
    }

    &__right-blocks {
        display: flex;
        align-items:center;
        justify-content: center;
        flex-basis: 300px;
        flex-grow: 1;
    }

    &__g-block {
        margin: 15px;
        padding: 25px;
        background-color: #491020;
        border-radius: 35px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: 1;
    }

    &__v-block {
        margin: 15px;
        padding: 25px;
        background-color: #491020;
        border-radius: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__g-block,
    &__v-block {
        transition: 200ms ease;
        transition-property: transform, box-shadow;
    }

    &__g-block:hover,
    &__v-block:hover {
        transform: translate(-1%, -1%);
        box-shadow: 4px 4px 0px 4px #000000;
    }

    &__g-text {
        margin: 10px;
        font-size: 10px;
        flex-basis: 300px;
        flex-grow: 1;
    }

    &__v-text {
        flex-basis: 300px;
        flex-grow: 1;
        margin: 10px;
    }

    &__big-text {
        margin: 10px 0;
        font-size: 35px;
        @include font-regular;
        @include gradient;

        @media (min-width:280px) and (max-width:365px){
            font-size: 25px;
        }
    }

    &__lil-text {
        font-size: 20px;
        @include font-regular;

        @media (min-width:280px) and (max-width:365px){
            font-size: 15px;
        }
    }

    &__g-img {
        height: 200px;
        width: auto;

        @media (min-width:280px) and (max-width:365px){
            height: 150px;
            width: auto;
        }
    }

    &__v-img {
        height: 300px;
        width: auto;
        @media (min-width:280px) and (max-width:365px){
            height: 245px;
            width: auto;
        }
    }
}